/******************************************/
/*          css B3D                       */
/*      ABE-JMI-EMO-NLA                   */
/*                                        */
/******************************************/
/************************/
@font-face {
  font-family: IBMPlexMono;
  src: url("ibm-plex/IBMPlexSans-Regular.otf");
}

* {
  font-family: IBMPlexMono, sans-serif;
}

/*     general          */
html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C9BC60;
}

section {
  margin: 5vh 0;
  padding: 2vh;
}

p {
  color: #d9c894;
  line-height: 200%;
}

h5, h2 {
  color: #d9c894;
}

.cadre {
  background-color: #7F4F2A;
}

/*****Header*******/
header nav a {
  font-family: IBMPlexMono, sans-serif;
  background: none;
  color: #d9c894;
  font-size: 1.2rem;
  border-left: 1px solid #D59D10;
  border-bottom: 1px solid #D59D10;
  margin: 0.4rem;
}

header nav a:hover {
  color: #B52E1B;
  background-color: #D59D10;
}

header {
  margin-bottom: 2em;
  background-color: #B52E1B;
}

/*****Footer*******/
footer {
  background-color: #B52E1B;
  color: #d9c894;
  margin-top: 2em;
  padding-bottom: 1em;
}

footer a {
  color: #d9c894;
}

footer .link {
  text-decoration: underline;
}

/*****bloc contactez-nous*******/
#contactNous {
  background-color: #7F4F2A;
  padding: 1em;
  margin-top: 2em;
}

#contactNous h4 {
  color: #d9c894;
}

#contactNous .btn-contactNous {
  background-color: #882214;
}

#contactNous ul {
  color: #d9c894;
  list-style: none;
  line-height: 250%;
}

#contactNous-adresse {
  border: 2px solid black;
}

.adresse-contact {
  margin: 8vh 4vh;
}

/*********************************/
/*          choix langue          */
#choix-langue {
  background-image: url("../imgs/B3D_Essences_Acacia_11.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnChoix {
  margin-top: 5%;
}

.btn, .btnsep {
  background: none;
  color: white;
  font-size: 1rem;
  margin: 15px;
}

.btn:hover {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}

/*******************************/
/*        page accueil         */
#container-acceuil {
  background-color: #7F4F2A;
}

.carousel-inner img {
  width: 100%;
  height: 65vh;
}

/*******************************/
/* page les-produit            */
.card {
  background-color: #b78e56;
  margin: 2em;
  border-radius: 1em;
}

/**********************************/
/*     page-produit                */
#produit p {
  line-height: 120%;
  margin: 1em;
}

#produit .row {
  margin: 1em 0;
}

/*******************************/
/*       page entreprise     */
.texte-entreprise {
  margin: 2em;
  padding: 1em;
}

/*******************************/
/*      page-contact           */
form {
  margin-top: 1.5em;
}

.message {
  height: 140px;
}

iframe, .col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

.chprequired::before {
  content: "* ";
  color: orangered;
  font-weight: 600;
}

.input-error {
  font-size: 1rem;
  margin-bottom: 0;
  color: orangered;
  font-style: italic;
}

/******************************/
@media (max-width: 769px) {
  html {
    font-size: 0.9rem;
  }

  body {
    /*background: #b95c16;*/
    margin: 0;
    padding: 0;
  }

  header nav a {
    border: none;
  }

  #choix-langue {
    height-max: 768px;
  }

  #container-contact-nous {
    background-color: #c3bf82;
    margin-top: 1em;
  }

  #container-contact-nous.container {
    max-width: 100%;
  }

  #contactNous {
    margin: 0;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  /*carte page-les-produits*/
  .card-desk {}

  footer {
    margin-top: 0;
  }

  .texte-entreprise {
    margin: 2em 0;
  }
}

/******************************/
@media (max-width: 577px) {
  html {
    font-size: 0.8rem;
  }

  body {
    background: #b95c16;
  }

  footer {
    margin-top: 0;
  }

  .btnsep {
    display: none;
  }

  .card {
    margin-right: 0;
    margin-left: 0;
  }

  #zone2-entreprise {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
