body {
  margin: 0;
  padding: 0;
}

p {
line-height: 200%;
}

.cadre {
  border : 2px solid black;
  border-radius: 20px;
}
/***************************/
/*      parallax            */
.parallax {
  /* The image used */
  background-image: url("../imgs/acacia.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

/*******************************/
/* carte produit */
.card {
  background-color: grey;
}

/******************************/
@media (max-width: 768px){
  #zone2-entreprise {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}


/******************************/
@media (max-width: 576px){
  #zone2-entreprise {
    display: flex;
    flex-direction: column-reverse;
  }
}
